{% extends "admin/change_form.html" %}
{% load i18n %}


{% block content %}

    <div id="shared-object">
        {{ block.super }}
    </div>

    <div id="shared-panel">
        <h1>{% trans 'Social Network Information' %}</h1>

        {% if share_form %}
            <fieldset id="social-media-share" class="grp-module module">
                <h2>{% trans 'Share this' %}</h2>
                {% for field in share_form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <div class="grp-row grp-cells-1 form-row">
                            <div class="l-1c-fluid l-d-4">

                                <div class="field-wrapper">
                                    <div><label for="{{ field.auto_id }}">{{ field.label }}</label></div>
                                    {{ field }}
                                </div>

                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <input type="submit" name="_publish" class="grp-button grp-default default" value="{% trans 'Publish' %}">
            </fieldset>
        {% endif %}
    </div>
{% endblock %}